


<div class="cheepbox">
    <h3>What's on your mind </h3>
        <form  method="post" >
            @Html.AntiForgeryToken()
            <input style="float: left" type="post" asp-for="post" placeholder="Type your message..." >
            <input asp-page-handler="Upload" type="submit" value="Share">
        </form>
</div>





    